@tailwind base;
@tailwind components;
@tailwind utilities;

.blogblogblog * {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}
.blogblogblog p {
  font-size: 1rem; /* Adjust size as needed */
  line-height: 1.5; /* Adjust line height as needed */
  color: #666; /* Adjust color as needed */
  /* Adjust margin as needed */
}
/* Example CSS for headings */
.blogblogblog h1 {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  /* Adjust margin as needed */
}

.blogblogblog h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #444;
}

.blogblogblog h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

.blogblogblog h4 {
  font-size: 0.75rem;
  font-weight: bold;
  color: #666;
}

.blogblogblog h5 {
  font-size: 0.5rem;
  font-weight: bold;
  color: #777;
  margin-bottom: 0.25rem;
}

.blogblogblog h6 {
  font-size: 0.5rem;
  font-weight: bold;
  color: #888;
}
.blogblogblog p {
	padding-bottom: 0.5rem;
}
